*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .cards-comment{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 6rem 6rem 3rem 6rem;
  }